<a href="https://colab.research.google.com/github/Vamsi-Vuyyuru/Python-Practicing/blob/master/Python_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Source: https://www.w3resource.com/python-exercises/

SyntaxError: ignored

# Basic Python Practice Exercises

## 1. Write a Python program to print the following string in a specific format.
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" 

Output :
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [ ]:
print("Twinkle, twinkle, little star," "\n\tHow I wonder what you are!," "\n\t\tUp above the world so high," "\n\t\tLike a diamond in the sky." "\nTwinkle, twinkle, little star" "\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!,
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star
	How I wonder what you are

## 2. Write a Python program to get the Python version you are using.

A string containing the version number of the Python interpreter plus additional information on the build number and compiler used. This string is displayed when the interactive interpreter is started.

In [ ]:
import sys
print ("Python Version: ", sys.version)
print ("Python Version Information:\n", sys.version_info)

Python Version:  3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]
Python Version Information:
 sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

## 3. Write a Python program to display the current date and time.
Sample Output :
Current date and time :
2014-07-05 14:34:14

In [ ]:
import datetime
dt=datetime.datetime.now()
print ("Default Current Date and time:", dt)
print ("Formatted Date and time:", (dt.strftime("%d-%m-%y %H:%M:%S")))

Default Current Date and time: 2020-03-22 13:44:51.225475
Formatted Date and time: 22-03-20 13:44:51

## 4. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
from math import pi
radius=float(input("Please input radius of the circle "))
print("Area of the Circle with radius "+ str(radius) +" is:", str(pi*(radius**2)))

Please input radius of the circle 2.3
Area of the Circle with radius 2.3 is: 16.619025137490002

### 5. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
FN=input("Enter your First Name: ")
LN=input("Enter your Last Name: ")
print("Welcome", (LN+" "+FN))

Enter your First Name:Syam
Enter your Last Name:Vuyyuru
Welcome Vuyyuru Syam

###6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers. 
Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [ ]:
val = input("Enter some comma seprated numbers : ")
vlist = val.split(",")
vtuple = tuple(vlist)
print('List : ',vlist)
print('Tuple : ',vtuple)

Enter some comma seprated numbers : 5,8,4,3
List :  ['5', '8', '4', '3']
Tuple :  ('5', '8', '4', '3')

###7. Write a Python program to accept a filename from the user and print the extension of that. 
Sample filename : abc.java
Output : java

In [ ]:
fn=input("Enter your file name : ")
fext=fn.split(".")
print("The extension of the file is : ", fext[1])

Enter your file name : PyPract.ipynb
The extension of the file is :  ipynb

###8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print("The first and last colors in the given list are : " +(color_list[0]+" and "+color_list[-1])+ " respectively")

The first and last colors in the given list are : Red and Black respectively

###9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [ ]:
exam_st_date = (11, 12, 2014)
print("The examinatin wil start from: %i / %i / %i"%exam_st_date)

The examinatin wil start from: 11 / 12 / 2014

###10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. 
Sample value of n is 5
Expected Result : 615

In [ ]:
val=int(input("Enter the value : "))
c1=int("%s" %val)
c2=int("%s%s"%(val,val))
c3=int("%s%s%s"%(val,val,val))
print("The value after computing as n+nn+nnn is ", (c1+c2+c3))

Enter the value : 3
The value after computing as n+nn+nnn is  369

###11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()
Expected Result :
abs(number) -> number
Return the absolute value of the argument.

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

###12. Write a Python program to print the calendar of a given month and year.
Note : Use 'calendar' module.

In [ ]:
import calendar
y=int(input("Year : "))
m=int(input("Month : "))
print(calendar.month(y,m))

Year : 2020
Month : 04
     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

###13. Write a Python program to print the following here document. 
Sample string :
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [ ]:
print("""
a string that you "don't" have to escape 
This 
is a ....... multi-line 
heredoc string --------> example""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

###14. Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

In [ ]:
from datetime import date
fd = date(2020,4,15)
ld = date(2020,8,17)
diff= ld - fd
print("No. of days inbetween are : ",diff.days)

No. of days inbetween are :  124

###15. Write a Python program to get the volume of a sphere with radius 6.

In [ ]:
from math import pi
r=float(input("Please enter the radius of a sphere : "))
print("Volume of a sphere with " + str(r) +" is ", str(4/3 *pi* r**3))

Please enter the radius of a sphere : 5.4
Volume of a sphere with 5.4 is  659.5836608064843

###16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [ ]:
n=int(input("Enter the number to be checked : "))

def Difference(n):
    if n<=17:
      return(17-n) 
    else:
      return(n-17)*2

print("Absolute difference after computing is : ", Difference(n))

Enter the number to be checked : 28
Absolute difference after computing is :  22

###17. Write a Python program to test whether the difference of a number with 1000 or 2000 is within 100 or not.

In [ ]:
def neartothousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(neartothousand(1000))
print(neartothousand(900))
print(neartothousand(800))   
print(neartothousand(2200))

True
True
False
False

###18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [ ]:
n1=float(input("Enter the first number : "))
n2=float(input("Enter the second number : "))
n3=float(input("Enter the third number : "))
n=n1+n2+n3
def sumof3():
  if(n1==n2==n3):
    return(n*3)
  else:
    return(n)
print("The computed number is : ", sumof3())

Enter the first number : 1
Enter the second number : 1
Enter the third number : 1
The computed number is :  9.0

###19. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [ ]:
st=input("Enter any string : ")
def strfor():
  if((len(st)>=2) and (st[:2]=="Is")):
    return(st)
  else:
    return("Is"+st)
print("Formatted string is : ", strfor())

Enter any string : syam
Formatted string is :  Issyam

###20. Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [ ]:
def strcopy(str, n):
  result=""
  for i in range(n):
    result=result+str
  return result

print(strcopy("Syam ",5))
print(strcopy("Vamsi ",4))

Syam Syam Syam Syam Syam
Vamsi Vamsi Vamsi Vamsi

###21. Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [ ]:
n=int(input("Enter the number to be checked : "))

def evod(n):
    if (n>0 and n%2==0):
      return("Even") 
    else:
      return("Odd")

print("The given number is : ", evod(n))

Enter the number to be checked : 58
The given number is :  Even

###22. Write a Python program to count the number 4 in a given list.

In [ ]:
num=input("Enter the list of numbers : ")
n=num.split(",")
def conum(n):
  i=0
  c=0
  for i in range(len(n)):
    if int(n[i])==4:
      c=c+1
  print("The count of 4's in the list is ",c)

conum(n)

Enter the list of numbers : 1,8,4,3,2,4,0,4,9,2,4,4,7,9,2
The count of 4's in the list is  5

###23. Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [ ]:
def ncopy(str,n):
  if (len(str)<2):
    return (n*str)
  else:
    return (n*str[:2])
print(ncopy("Sv", 8))
print(ncopy("SL", 3))

SvSvSvSvSvSvSvSv
SLSLSL

###24. Write a Python program to test whether a passed letter is a vowel or not.

In [ ]:
#Simple
char=input("Input a letter : ")
def isvow(char):
  vow='aeiou'
  return char in vow
print(isvow(char))


##Complex
let=input("Input a letter : ")
vo=["A","E","I","O","U","a","e","i","o","u"]
def VoCo(let):
  if(len(let)<2) and (len(let)!=0):
    for i in vo:
      if(let==i):
        return("Vowel")
      else:
        return("Consonant")
  else:
    return("Word or Invalid")
print("Given input is ",VoCo(let))

Input a letter : s
False

###25. Write a Python program to check whether a specified value is contained in a group of values. 
Test Data :
3 -> [1, 5, 8, 3] : True
-1 -> [1, 5, 8, 3] : False

In [ ]:
groupofval= [5, 8, 4, 3] 
def doescont(n):
  return n in groupofval

print(doescont(3))

True

### 26. How many times a number is repeated in the given list.
a=[1,2,5,8,2,9,4,5,7,2,1,5,6,9]

In [ ]:
a=[1,2,5,8,2,9,4,5,7,2,1,5,6,9]
b=[]
for i in a:
  if (a.count(i)>1):
    print(str(i)+" is repeated"+str(a.count(i)))

#b=b.append(i)